@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('./fonts/Rubik-Bold.woff2') format('woff2'),
       url('./fonts/Rubik-Bold.woff') format('woff'),
       url('./fonts/Rubik-Bold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  src: url('./fonts/Rubik-Light.woff2') format('woff2'),
       url('./fonts/Rubik-Light.woff') format('woff'),
       url('./fonts/Rubik-Light.ttf') format('ttf'),
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('./fonts/Rubik-Regular.woff2') format('woff2'),
       url('./fonts/Rubik-Regular.woff') format('woff'),
       url('./fonts/Rubik-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  src: url('./fonts/Rubik-Bold.woff2') format('woff2'),
       url('./fonts/Rubik-Bold.woff') format('woff'),
       url('./fonts/Rubik-Bold.ttf') format('ttf'),
}

html {
  body {
    font-family: Rubik, Arial, sans-serif;
    font-weight: 300;
  }
}

.my-dropdown {
  float: right;
  position: ralative;
  top: 7px;
  right: 40px;
}